#bye{
  background: #FFFFFF;
  box-shadow:0px 0px 20px -14px;
  padding:50px;
}
body{
  background: #FFEDE6;
}
#content{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
}
h3{
  font-family: 'IBM Plex Serif', sans-serif;
  text-align: center;
  font-size: x-large;
}
@media screen and (max-width:600px){
  #content{
    width:300px;
  }
}
